@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;

}




.navv >h1{
    font-family: "Azeret Mono", monospace;
    font-weight: 800;
    font-size: 28px;

}



nav >.navv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38px 166px;
}



 nav .navv >button{
    
    width: 228px;
    height: 58px;
    background-color: white;
    border-radius: 10px;
    
}



nav .navv button >a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Azeret Mono", monospace;
    font-size: 18px;
    font-weight: 600;
}


/* banar */


.banar{
    width: 1900px;
    height: 652px;
    margin: 0 auto;
    background-image: url(erobg.png);
}


.prag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.banar .prag >h1{
    font-family: "Azeret Mono", monospace;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    margin-top: 32px;

}

.banar .prag >p{
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 24px;

}


.banar .prag >button{
   
    
    width: 210px;
    height: 58px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    margin-top: 32px;
    


}

.banar .prag button >a{
    text-decoration: none;
    color: white;
    font-family: "Azeret Mono", monospace;
    font-size: 18px;
    font-weight: 600;
}




/* offic */



.box{
    display: flex;
    justify-content: center;
    align-items: center;
}


.offic{
    width: 1140px;
    height: 1395px;
    border: 1px solid rgb(255, 255, 255);
    margin: 74px auto;
   
}

.offic-s{
    width: 946px;
    height: 1100px;
   
    margin:80px  auto ;
    background-color: #fdfdfe;
}

.offic >h1{
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    margin-top: 80px;
}


.offic >.ptag{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 24px;
}


.offic .offic-s >.box{
    width: 946px;
    height: 336px;
  

}

.offic .offic-s .box .rased >h3{
    font-size: 24px;
    font-weight: 700;
    
}

.offic .offic-s .box .rased >p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.offic .offic-s .box .rased >.btn{
    width: 210px;
    height: 58px;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    margin-top: 32px;
    
  
}
.offic .offic-s .box .rased .btn >a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    
}





.box,.rased{
    background-color: #fafafb;
    margin: 30px 0;

}


/* link */



.link{
    width: 1140px;
    height: 775px;
   
    margin: 151px auto;
}

.link >.link-2{
    width: 852px;
    height: 113px;
    
    margin: 0 auto;
}


.link .link-2 >h1{
    font-size: 32px;
    font-weight: 800;
    
    
}


.link .link-2 >p{
    font-size: 16px;
    font-weight: 400;
   
    margin-top: 24px;
}

.video{
    width: 1140px;
    height: 641px;
    

}


.video >iframe{
    padding: 20px;

}



/* frem wark */

.frem-wark{
    width: 1140px;
    height: 500px;
    margin: 0 auto;
   
 
}

.frem-wark .wark >.h-1{
    font-weight: 800;
    font-size: 32px;
    color: rgb(0, 0, 0);
    text-align: center;
   

}

.frem-wark .wark >p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 24px;
}

/* frem card-1 */

.wan-card >.card-1{

    width: 364px;
    height: 299px;
    background-color: #fff6f4;
    padding: 20px;
    
}

.frem-wark .wan-card .card-1 >h1{
    font-weight: 800;
    font-size: 24px;
    margin-top: 24px;


    
}

.frem-wark .wan-card .card-1 >p{
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.frem-wark .wan-card .card-1 >a{
    font-weight: 700;
    font-size: 16px;
    color: rgb(0, 0, 0);
  
}

.frem-wark >.wan-card{
    display: flex;
    justify-content: space-between;
    margin-top: 97px;
} 

